.Menu {
  position: relative;
}
.Menu a {
  list-style-type: none;
  display: inline;
  margin-right: 80px;
  color: #2f2e41;
  font-size: 24px;
  font-style: normal;
  font-weight: lighter;
  align-items: center;
  text-align: center;

  text-decoration: none;
}

.Menu #part1 {
  position: absolute;
  left: 4.73%;

  top: 35%;
}

.Menu #part2 {
  position: absolute;
  left: 36.73%;

  top: 55%;
}

.Menu a:hover {
  text-decoration: underline;
}

.Menu img {
  visibility: hidden;
  width: 50px;
}
@media only screen and (max-width: 820px) {
  .Menu NavLink {
    font-size: 14px;
    margin-right: 40px;
  }

  .Menu #part1 {
    position: absolute;
    left: -0.73%;

    top: 18.22%;
  }

  .Menu #part2 {
    position: absolute;
    left: 29.73%;

    top: 37.22%;
  }
}

@media only screen and (max-width: 414px) {
  .Menu a {
    font-size: 20px;
    margin-right: 60px;
  }
  .Menu #part1 {
    position: fixed;
    left: 40px;
    top: 100px;
  }
  .Menu #part2 {
    position: fixed;
    left: 40px;
    top: 150px;
  }

  svg {
    transform: scale(1);
  }
}
